$green1: #48d1a9;
$border-corner-width: 19px;

.container {
  padding-top: 50px;

  .editButton {
    margin-right: 30px;
  }
}

.buttons {
  margin-bottom: 20px;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  color: $green1;
}

.date {
  font-size: 15px;
}

.content {
  &:after {
    display: block;
    clear: both;
    content: '';
  }
}

.picture {
  margin-left: 30px;
  float: right;
}

.text {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

.categoryTitle {
  position: relative;
  padding: 5px 27px 5px 10px;
  background: black;
  color: white;
  display: inline-block;
  margin-bottom: 0;
  margin-top: 0;

  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 0; 
    height: 0; 
    border-top: $border-corner-width solid transparent;
    border-bottom: $border-corner-width solid transparent; 
    
    border-right: $border-corner-width solid white; 
  }
}

.tags {
  list-style-type: none;
  display: flex;
  padding-left: 0;
}

.tag {
  border: 1px solid black;
  padding: 5px 10px;

  a {
    color: black;
    text-decoration: none;
  }
}

