{
  "env": {
    "browser": true,
    "commonjs": true
  },
  "extends": "standard",
  "rules": {
    "indent": ["error", "tab"],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "never"]
  }
}
