.footer {
  background: #51d6b2;
  color: white;

  svg {
    fill: white;
  }
}

.socials {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding-left: 0;

  li {
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }
}