.footer {
  background: #ccc;
}

.socials {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding-left: 0;

  li {
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }
}